<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Your OTP for SVSFI Enrollment</title>
</head>
<body>
  <h1>Your OTP for SVSFI Enrollment</h1>
  <p>Your One-Time Password (OTP) is: <strong>{{otp}}</strong></p>
  <p>Please use this OTP to complete your enrollment process. This OTP will expire in 10 minutes.</p>
</body>
</html>

